@font-face {
  font-family: 'Uncut Sans';
  src: url('https://github.com/PrepTime-source/uncut-sans-font/blob/main/UncutSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('https://github.com/PrepTime-source/uncut-sans-font/blob/main/UncutSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('https://github.com/PrepTime-source/uncut-sans-font/blob/main/UncutSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('https://github.com/PrepTime-source/uncut-sans-font/blob/main/UncutSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('https://github.com/PrepTime-source/uncut-sans-font/blob/main/UncutSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
